<ul class="notes">
    {% for note in notes %}
    <li class="note">
        <div class="note-thumbnail">
            <a href="#">
                <img class="img-rounded profile-thumbnail" src="#">
            </a>
        </div>
        <div class="note-content">
            <div class="note-date">{{ moment(note.timestamp).fromNow() }}</div>
            <div class="note-author"><a href="{{ url_for('.user', username=note.author.username) }}">{{ note.author.username }}</a></div>
            <div class="note-body">
                {% if note.content_html %}
                    {{ note.content_html | safe }}
                {% else %}
                    {{ note.content }}
                {% endif %}
            </div>
            <div class="note-footer">
                <a href="{{ url_for('.favorite', note_id=note.id) }}">
                    {% if current_user in note.is_favorited_by %}
                        <span class="label label-primary">Unfavorite</span>
                    {% else %}
                        <span class="label label-primary">Favorite</span>
                    {% endif %}
                </a>
                <a href="#">
                    <span class="label label-default">Permalink</span>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>