{% extends "bootstrap/base.html" %}

{% block title %}Notedly as Flask{% endblock %}

{% block head %}
{{ super() }}
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header" id="HeaderBar">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
                <img src="{{ url_for('static', filename='logo.svg') }}" alt="Notedly Logo" height="40">
                Notedly by Flask
            </a>
            {% if not current_user.is_anonymous %}
                <a href="{{ url_for('auth.logout') }}">Log Out {{ current_user.username }}</a>
            {% else %}
                <a href="{{ url_for('auth.login') }}">Sign In</a>
                <a href="{{ url_for('auth.register') }}">Sign Up</a>
            {% endif %}
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a href="{{ url_for('main.index') }}">
                  <span aria-hidden="true" role="img">🏠</span>
                  Home
                </a>
            </li>
            {% if not current_user.is_anonymous %}
            <li>
                <a href="{{ url_for('.user', username=current_user.username) }}">
                    <span aria-hidden="true" role="img">📓</span>
                    My Notes
                </a>
            </li>
            {% endif %}
            <li>
                <a href="{{ url_for('.favorites', username=current_user.username) }}">
                    <span aria-hidden="true" role="img">🌟</span>
                    Favorites
                </a>
            </li>
            <li>
                <a href="{{ url_for('main.new') }}">
                    <span aria-hidden="true" role="img">➕</span>
                    New
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}
    {% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}