{% extends "roses/layout.html" %}
{% load static %}

{% block body %}

    <div id="progress_bar_container" class="progress">
        <div id="progress_bar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="width: 0%"></div>
    </div>    
    
    <div id="play">    
        <h2>Hello {{ user.username }}, welcome to A Dozen Roses!</h2>
        <button id="play_game_button">Play A Dozen Roses</button>
    </div>

    <div id="login">
        <h2>Welcome to A Dozen Roses!</h2>
        <h2>Please <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a></h2>
    </div>

    <div id="problems">
        <h1 id="show_problem"></h1>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'roses/speech.js' %}"></script>
    <script src="{% static 'roses/roses.js' %}"></script>
{% endblock %}